parameters:
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: "#^Method WsdlToPhp\\\\DomHandler\\\\AbstractAttributeHandler\\:\\:getAttribute\\(\\) should return DOMAttr but returns DOMNode\\.$#"
            count: 1
            path: src/AbstractAttributeHandler.php

        -
            message: "#^Method WsdlToPhp\\\\DomHandler\\\\AbstractElementHandler\\:\\:getAttribute\\(\\) should return WsdlToPhp\\\\DomHandler\\\\AttributeHandler\\|null but returns WsdlToPhp\\\\DomHandler\\\\AbstractNodeHandler\\|null\\.$#"
            count: 1
            path: src/AbstractElementHandler.php

        -
            message: "#^Method WsdlToPhp\\\\DomHandler\\\\AbstractElementHandler\\:\\:getElement\\(\\) should return DOMElement but returns DOMNode\\.$#"
            count: 1
            path: src/AbstractElementHandler.php

        -
            message: "#^Method WsdlToPhp\\\\DomHandler\\\\AbstractElementHandler\\:\\:getChildByNameAndAttributes\\(\\) should return WsdlToPhp\\\\DomHandler\\\\ElementHandler\\|null but returns WsdlToPhp\\\\DomHandler\\\\AbstractNodeHandler\\|null\\.$#"
            count: 1
            path: src/AbstractElementHandler.php

        -
            message: "#^Strict comparison using === between 1 and mixed will always evaluate to false.$#"
            count: 1
            path: src/AbstractAttributeHandler.php

        -
            message: "#^Method WsdlToPhp\\\\DomHandler\\\\AbstractDomDocumentHandler\\:\\:getElementByNameAndAttributes\\(\\) should return WsdlToPhp\\\\DomHandler\\\\ElementHandler\\|null but returns WsdlToPhp\\\\DomHandler\\\\AbstractNodeHandler\\|null\\.$#"
            count: 1
            path: src/AbstractDomDocumentHandler.php
